* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 a {
    color: white;
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #df9400;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid black;
    /* viiva headerin alaosaan */
}


body {
    font-family: 'Comic Sans MS', sans-serif;
    line-height: 1.6;
    background-color: #df9400;
    padding: 0;
    margin: 0;
}

/* Kuva */
.bandpic {
    width: 100%;
    height: auto;
    display: block;
    margin: 0px auto;
    max-width: 1000px;
    border: 5px solid black;
}

/* Navigointi */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

/* Main */
main {
    background-color: #df9400;
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom: 5px solid black;
    /* viiva mainin alaosaan */
}

/*Article */
article {
    background-color: #df9400;
    padding: 10px;
    margin: 0px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

/* Responsiivisuus */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Form */
form {
    background-color: #df9400;
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
    position: relative;


}

.lomake {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #df9400;

    border-radius: 10px;
}

.lomake label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.lomake input,
.lomake textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.lomake button {
    background-color: #f7a600;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.lomake button:hover {
    background-color: #e69500;
}